body {
    color: black;
    background-color: steelblue;
    font-family: Lithos Pro Regular, Arial, sans-serif;
    line-height: 1.4em;
    align-content: center;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.main-page {
    background-color: steelblue;
}

#head {
    width: inherit;
    z-index: 4;
}

#head ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    position: fixed;
    border: inset;
    z-index: 4;
}

#head li {
    align-items: center;
    font-size: 24px;
    margin-left: 0;
    padding-right: inherit;
}

#head li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px 10px;
    text-decoration: solid;
}

#head li a:hover:not(.active) {
    background-color: whitesmoke;
}

#head li a:hover {
    background-color: steelblue;
    box-shadow: 2px 2px 2px #aaaaaa;
}

#banner-container {
    width: 100%; height: 300px;
    background-image: url("../img/da_division.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.site-logo {
    width: 170px;
    height: 200px;
    margin: 75px 0 0 45%;
    background-image: url("../img/trident_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
}

.site-logo:hover {
    transform: scale(1.2) rotate(360deg);
}

#container{
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    background-color: whitesmoke;
}